body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  background-image: url(../img/Golf_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  margin: 8px;
}
.header #playertitle {
  margin: 0 8px 0;
  height: 15px;
}
.header #numplayers {
  width: 35px;
  height: 15px;
}

.card {
  height: auto;
  display: flex;
  margin: 10px;
}

.card .scoreRow {
  height: 25px;
  padding: 0 auto;
  border: 1px solid black;
}

.card .left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: auto;
}

.card .left .pheader {
  height: 108px;
  border: 1px solid black;
}

.card .left .pheader .title {
  border-bottom: 2px solid black;
  height: 25px;
  padding: 0 auto;
}

.card .left .names {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
}

.card .left .names .playerlabel {
  border: 1px solid black;
  width: inherit;
  height: 25px;
}

.card .left .names .deletePlayer {
  right: 7px;
}

.card .right {
  display: flex;
  justify-content: space-evenly;
}

.card .right .swingspot {
  height: 25px;
  width: auto;
  border: 1px solid;
}

.card .right .column {
  height: auto;
  width: auto;
  border: 1px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.card .right .column .holecol {
  width: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  height: 25px;
  border-bottom: 2px solid black;
}

.card .right .column .scoreboxes {
  display: flex;
  flex-direction: column;
}

.card .right .column .scoreboxes .holeinput {
  height: 23px;
  width: 25px;
  padding: 0 10px;
}

.card .right .totalsCol {
  height: auto;
  width: auto;
  border: 1px solid black;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.card .right .totalsCol .theader {
  padding-left: auto;
  padding-right: auto;
  border-bottom: 2px solid black;
  height: 25px;
}

.card .right .totalsCol .empty {
  padding: 0 auto;
  border-bottom: 2px solid black;
  height: 25px;
}

.card .right .totalsCol .totYards {
  padding: 0 auto;
  border-bottom: 2px solid black;
  height: 25px;
}

.card .right .totalsCol .totPar {
  padding: 0 auto;
  border-bottom: 2px solid black;
  height: 25px;
}

input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}